@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.main {
    height: 300px;
    width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0px 8px 32px rgba(91, 65, 96, 0.5);
    border-radius: 15px;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    width: 60px; 
    height: 60px;
    padding: 0;
    border: none;
    background: transparent;
}

.button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: trans;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-image: 
        linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(249, 188, 255, 0.6) 100%),
        url('background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divider {
    width: 90%;
    height: 2px;
    background: rgba(0, 0, 0, 0.75);
    margin: -10px auto;
}

hr {
    width: 100%;
    border: 5px;
    border-color: blue;
    border-top: 2px solid rgb(130, 86, 147);
    margin: -5px;
}

.title {
    font-size: 40px;
}

.body {
    font-size: 25px;
}

.name {
    color: rgb(255, 105, 180);
    text-shadow: 10px 10px 10px rgb(150, 56, 103);
}